{% load static %}

<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- loading bootstrap -->
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
        
        <!-- loading flat ui -->
        <link rel="stylesheet" href="/static/css/flat-ui.css" />
        
        <link rel="stylesheet" href="/static/css/style.css" />
        {% block css %}{% endblock %}
        
        <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/flatui-radio.js"></script>
        <script type="text/javascript" src="/static/js/flatui-checkbox.js"></script>
        {% block script %}{% endblock %}
        
        <script type="text/javascript">
            $('body').ready(function(){
                            {% block onload_script %}{% endblock %}
                            });
            </script>
        
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- navigation -->
        <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
            <div id="navbar-wrapper">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="/">책두레</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'how-it-works' %}">이용안내</a></li>
                        {% if islogin == 'N' or user.islogin == 'N' or context.islogin == 'N' %}
                        <li><a href="{% url 'signup' %}">회원가입</a></li>
                        <li><a href="{% url 'signin' %}">로그인</a></li>
                        {% else %}
                        <li><a href="{% url 'mypage' %}">마이페이지</a></li>
                        <li><a href="{% url 'signout' %}">로그아웃</a></li>
                        {% endif %}
                    </ul>
                    <form class="navbar-form navbar-right" action="/books/search/" role="search">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" name="title" type="search" placeholder="교과서 찾기" />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn"><span class="fui-search"></span></button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.navbar-collapse -->
        </nav>
        
        
        
        <div id="content-wrapper">
            <div id="nav">
                {% block nav %}{% endblock %}
            </div>
            <div id="content" class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer class="bg-primary">
        </footer>
        
    </body>
</html>

