{% extends "base.html" %}
{% block title %}FAQ 목록{% endblock %}
{% block content %}
	<h1 class="title">FAQ</h1>
	<p>책두레를 이용하시면서 생기는 다양한 궁금증들을 FAQ에서 해결하세요</p>
	<hr />
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					Q1. 1권 기증하면, 1년에 2권을 대여할 수 있는 건가요?
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
				<div class="panel-body">
					1권을 기증하셨다면, 기증과 동시에 1권을 대여하실 수 있습니다. <br />
					그리고 반납기간에 반납을 필히 완료하셔야‘다음 학기’에 1권을 더 대여하실 수 있습니다.
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						Q2. 대여 가능 기간이 1년간 유효하다는 것은 무슨 뜻인가요?
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse">
				<div class="panel-body">
					기증과 동시에 1권을 대여하고, 다음 학기에 대여를 하지 않을 경우 대여권한은 말소됩니다. <br />
					다시 말해, 대여할 수 있는 권한을 사용하지 않더라도 2학기 이후로 이월되지 않습니다. <br />
					<br />
					이 제도를 도입한 이유는 도서의 공급을 지속적으로 하기 위함입니다. <br />
					책두레 서비스는 다양하고 많은 양의 교재를 공급받아야 많은 혜택을 돌려드릴 수 있습니다. <br />
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						Q3. 책은 언제 반납하면 되나요?
					</a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse">
				<div class="panel-body">
					책을 대여하는 기간과 반납하는 기간은 매 학기가 시작되면서 공지됩니다. 학술정보관 홈페이지 혹은 <br />
					페이스북에서 학술정보관을 찾아주세요 <br />
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
						Q4. 필기를 하면 안되나요?
					</a>
				</h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse">
				<div class="panel-body">
					책두레는 교재를 돌려보기 위한 서비스입니다. 따라서 필기를 일절 금지합니다. <br />
					후배님들을 위해서 깨끗이 쓰고 반납해주길 바랍니다 ^3^ <br />
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
						Q5. 왜 책두레 인가요?
					</a>
				</h4>
			</div>
			<div id="collapseFive" class="panel-collapse collapse">
				<div class="panel-body">
					두레라는 말은 농민들이 농번기에 농사일을 공동으로 하기 위해 부락이나 마을 단위로 만든 조직을 <br />
					뜻합니다. 우리 한양인들도 교재를 모아 도서 지출비를 절약하고 환경도 보존하고, 선후배간의 온정 <br />
					을 나누기 위해 ‘두레’라는 말을 사용하였습니다. <br />
				</div>
			</div>
		</div>		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
						Q6. 북카드는 무엇을 쓰면 되나요?
					</a>
				</h4>
			</div>
			<div id="collapseSix" class="panel-collapse collapse">
				<div class="panel-body">
					후배님들에게 남기고 싶은 메시지를 자유롭게 써주시면 됩니다. <br />
					ex) 이 수업은 왜 신청…? 넝담~ / 3년 째 36p 표에서 3문제 나왔어요. / 물리학 치우고, 대학합창 강추 <br />
				</div>
			</div>
		</div>		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
						Q7. 졸업 예정자입니다. 책을 기증하고 싶은데 어떻게 하면 되나요?
					</a>
				</h4>
			</div>
			<div id="collapseSeven" class="panel-collapse collapse">
				<div class="panel-body">
					사랑합니다 선배님. 학술정보관에서는 교재는 물론 일반 서적들도 기증을 받고 있습니다. <br />
					학술정보관 로비에서 “ 기증하러 왔습니다 ^3^ ”를 말해주세요. <br />
				</div>
			</div>
		</div>		
	</div>
	{% endblock %}
