{% extends "base.html" %}

{% block title %}How It Works{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/how_it_works.css">

<div class="how-it-works">
<header class="page-header">
<h2 class="text-center">이용 안내</h2>
</header>
<div class="row">
    <div class="col-md-12 text-center">
        <h3>나눔을 실천하세요</h3>
        <p>책두레는 차세대 공유경제 서비스입니다. 책두레에 대해 알아보세요.</p>
    </div>
</div>

<div class="row step">
    <div class="col-md-6">
        <h3>책을 찾으세요.</h3>
        <p>책두레 서비스에 오신 것을 환영합니다. 책두레는 더 이상 사용하지 않는 교재를 기증하고, 새롭게 필요한 책을 대여받는 서비스입니다. 먼저 기증된 책들의 목록에서 필요한 교재를 찾아보세요.</p>
    </div>
    <div class="col-md-6">
        <img src="{{ STATIC_URL }}img/how-it-works/3.png" />
    </div>
</div>

<div class="row step">
    <div class="col-md-6">
        <img src="{{ STATIC_URL }}img/how-it-works/1.png" />
    </div>
    <div class="col-md-6">
        <h3>책을 기증하세요.</h3>
        <p>더 이상 필요가 없는 교재를 들고 도서관에 찾아가세요. 서류를 받아 학생정보와 도서정보를 적어 제출하세요. 담당자가 교재로 활용될 수 있는 책인지 확인한 후에 책을 빌릴 수 있습니다.</p>
    </div>
</div>

<div class="row step">
    <div class="col-md-6">
        <h3>책을 대여하세요.</h3>
        <p>본인확인과 책에 대한 확인이 끝났다면, 필요한 책을 대여하세요. 책 1권당 1권의 교재를 빌릴 수 있으며, “반납”을 하셔야 다음 학기에도 또 1권의 책을 빌릴 수 있습니다. 대여가능기간은 1년 간 유효합니다. 만약 2권을 기증했다면 2권을, 3권을 기증했다면 3권을 대여할 수 있습니다.</p>
    </div>
    <div class="col-md-6">
        <img src="{{ STATIC_URL }}img/how-it-works/2.png" />
    </div>
</div>

<div class="row step">
    <div class="col-md-6">
        <img src="{{ STATIC_URL }}img/how-it-works/5.png" />
    </div>
    <div class="col-md-6">
        <h3>책두레는 성장합니다.</h3>
        <p>선배들의 기증이 많으면 많을 수록 후배들에게 돌아가는 혜택은 점점 더 커집니다. 책 앞 쪽에 들어가있는 ‘한양 북카드’는 선배가 후배에게 남기는 메시지를 적을 수 있습니다.</p>
        <p>여러분들의 메시지가 담긴 책 한 권 한 권은 한양의 이야기가 됩니다.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <p>책을 아껴주시고, 후배를 위해 많은 책을 기증해주세요.</p>
        <p>&mdash; 책두레 일동 올림</p>
    </div>
</div>
</div>

{% endblock %}
