{% extends "console/base.html" %}
{% load bootstrap3 %}

{% block title %}도서 등록하기{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/console.book.css">

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">도서 등록하기</h2>
        <div class="row">
            <div class="col-md-8">
                <form method="post" action="{% url 'console:add_book_and_stock' %}" class="add-book">
                    {% csrf_token %}
                    {% bootstrap_form form %}
		    <!-- <label>기부자 -->
		    <!-- <input class="form-control" type="text" disabled="disabled" /></label> -->
		    <!-- <button data-toggle="modal" data-target="#search-owner" type="button" style="margin-top:20px;margin-bottom:20px;" class="btn btn-success">기부자 찾기</button> -->
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "plus" %} 등록하기
                        </button>
                        <a href="javascript: history.go(-1);" class="btn btn-default">취소</a>
                    {% endbuttons %}
                </form>
            </div>
            <div class="col-md-4 cover">
                <img src="http://placehold.it/300x400&text=%20"/>
            </div>
        </div>
    </div>
</div>


<!-- <div class="modal fade" id="search-owner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -->
<!--   <div class="modal-dialog" style="margin:20% auto;"> -->
<!--     <div class="modal-content"> -->
<!--       <div class="modal-body"> -->
<!-- 	<label>기부자 -->
<!-- 	  <input class="form-control" type="text"/></label> -->
<!-- 	<button id="search-button" type="button" style="margin-top:20px;margin-bottom:20px;" class="btn btn-success" placeholder="검색을 해주세요">찾기</button> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/console.book.js"></script>
{% endblock %}

