
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- loading bootstrap -->
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">

  <!-- loading flat ui -->
  <link rel="stylesheet" href="/static/css/flat-ui.css">

  <link rel="stylesheet" href="/static/css/style.css">
  {% block css %}{% endblock %}

  <link rel="shortcut icon" href="/static/images/favicon.ico">

  <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/flatui-radio.js"></script>
  <script type="text/javascript" src="/static/js/flatui-checkbox.js"></script>
  <script type="text/javascript" src="/static/js/application.js"></script>
  {% block script %}{% endblock %}

  <script type="text/javascript">
    $('body').ready(function(){
      {% block onload_script %}{% endblock %}
    });
  </script>

  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <!-- navigation -->
  <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
       <span class="sr-only">Toggle navigation</span>
     </button>
     <a class="navbar-brand" href="{% url 'console:index' %}">BookShare Console</a>
   </div>
   <ul class="nav navbar-nav navbar-right">      
      <li><a href="{% url 'index' %}">Go User View</a></li>
    </ul>       
</nav>



<div id="content-wrapper">
  <div id="nav">
   {% block nav %}{% endblock %}
 </div>
 <div id="content" class="container-fluid">
   {% block content %}{% endblock %}
 </div>
</div>

</body>
</html>

