{% extends "console/base.html" %}

{% block title %}대여요청 현황 보기{% endblock %}
{% block content %}

<h2>Process Rent Request</h2>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>대여자</th>
      <th>책제목</th>
      <th>대여요청날짜</th>
      <th>대여요청승인</th>
    </tr>
  </thead>
  <tbody>
    {% if object_list %}
    {% for rent in object_list %}
    <tr>
      <td>{{ rent.actor }}</td>
      <td>{{ rent.book.title }}</td>
      <td>{{ rent.added_at }}</td>
      <td><a class="btn btn-sm btn-warning">승인</a></td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td colspan=5>No result</td>
    </tr>
    {% endif %}
  </tbody>
</table>

{% endblock %}
