{% extends "console/base.html" %}
{% load bootstrap3 %}

{% block title %}회원 등록하기{% endblock %}

{% block content %} 
<div class="signup-screen">
  <h2>회원 등록하기</h2>
  <div class="signup-form">
    <form method="post" action="{% url 'console:user_add' %}">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
          <button type="submit" class="btn btn-primary">
              {% bootstrap_icon "plus" %} 등록하기
          </button>
          <a href="javascript: history.go(-1);" class="btn btn-default">취소</a>
      {% endbuttons %}
			{{error_msg}}
      {% csrf_token %}
    </form>
  </div>
</div>

{% endblock%}
