{% extends "base.html" %}

{% block title %}MainPage{% endblock %}

{% block content %}
<header class="page-header">
<h2 class="text-center">책두레</h2>
<p class="lead text-center">Share your book, and get another for free.</p>
<div class="row">
    <div class="col-md-12 text-center link-set">
        <a href="{% url 'how-it-works' %}" class="btn btn-inverse btn-lg">Learn More</a>
        <a href="{% url 'signup' %}" class="btn btn-primary btn-lg">Get Started</a>
    </div>
</div>
</header>
<section class="feature">
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-center">공유</h3>
            <p class="text-center">책두레를 통해 책을 공유하시면 도서 구입비를 크게 절감할 수 있어요.</p>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">책임</h3>
            <p class="text-center">책임감을 가지고 책을 깨끗이 이용한 뒤 반납기한에 맞추어 꼭 반납해주세요.</p>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">애정</h3>
            <p class="text-center">오고가는 책 사이에 훈훈히 피어나는 한양인의 애정을 느껴보세요.</p>
        </div>
    </div>
</section>


{% endblock %}
