{% extends "base.html" %}

{% block title %}MainPage{% endblock %}

{% block content %}
<header class="page-header">
<h2 class="text-center">BookShare</h2>
<p class="lead text-center">Share your book, and get another for free.</p>
<div class="row">
    <div class="col-md-12 text-center link-set">
        <a href="{% url 'how-it-works' %}" class="btn btn-inverse btn-lg">Learn More</a>
        <a href="#" class="btn btn-primary btn-lg">Get Started</a>
    </div>
</div>
</header>
<section class="feature">
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-center">경제적</h3>
            <p class="text-center">바싼 가격때문에 교과서 사기가 부담스러우셨나요? BookShare에서 포인트로 교과서를 빌리세요.</p>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">책 물려주기 운동</h3>
            <p class="text-center">책 물려주기 운동에 우리가 모두 참여합시다. 책을 깨끗하게 사용하고 반드시 돌려주세요.</p>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">책장책장</h3>
            <p class="text-center">책장에 먼지쌓인 교과서가 있으신가요? BookShare에 기증하시고 포인트를 받으세요</p>
        </div>
    </div>
</section>


{% endblock %}
