{% extends "base.html" %}

{% block title %}MainPage{% endblock %}

{% block content %}
<header class="page-header">
<h2 class="text-center">BookShare</h2>
<p class="lead text-center">Share your book, and get another for free.</p>
<div class="row">
    <div class="col-md-12 text-center link-set">
        <a href="#" class="btn btn-inverse btn-lg">Learn More</a>
        <a href="#" class="btn btn-primary btn-lg">Get Started</a>
    </div>
</div>
</header>
<section class="feature">
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-center">Feature</h3>
            <p class="text-center">blah blah blah</p>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Feature</h3>
            <p class="text-center">blah blah blah</p>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Feature</h3>
            <p class="text-center">blah blah blah</p>
        </div>
    </div>
</section>


{% endblock %}
