{% extends "bookshare/mypage_base.html" %}

{% block inner-content %}
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>표지</th>
      <th>제목</th>
      <th>기부일</th>
    </tr>
  </thead>
  <tbody>
    {% if object_list %}
    {% for rent in object_list %}
    <tr>
      <td>{% if rent.book.image %}<img class="book-cover" src="{{ rent.book.image.url}}" />{% else %}<img src="default.image.jpg" />{% endif %}</td>
      <td>{{ rent.book.title }}</td>
      <td>{{ rent.added_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td colspan=3>No result</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}
