{% extends "bookshare/mypage_base.html" %}

{% block inner-content %}
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>기부일</th>
      <th>반납신청</th>
    </tr>
  </thead>
  <tbody>
    {% if object_list %} 
    {% for rent in object_list %}
    <tr>
      <td>{% if book.image %}<img src="{{ rent.book.image.url}}" />{% else %}<img src="default.image.jpg" />{% endif %}</td>
      <td>{{ rent.book.title }}</td>
      <td>{{ rent.added_at }}</td>
      <td><a class="btn btn-lg btn-success">회수</a></td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td colspan=5>No result</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}
