{% extends "bookshare/mypage_base.html" %}

{% block onload_script %}
$("#rent-list-table").find("a.btn-request-return").click(function(){
var pk = $(this).attr("id");
$("#id_stock").val(pk);
$("#request-return-form").submit();
});
{% endblock %}

{% block title %}대여 현황 보기{% endblock %}

{% block inner-content %}
<form id="request-return-form" method="post" action="{% url 'books:book-return-request' %}">
  {% csrf_token %}
  {{ return_request_form }}
</form>
<table id="rent-list-table" class="table table-striped table-bordered mypage-table">
  <thead>
    <tr>
      <th>표지</th>
      <th>제목</th>
      <th>대여일</th>
      <th>대여한도일</th>
    </tr>
  </thead>
  <tbody>
    {% if object_list %}
    {% for rent in object_list %}
    <tr>
      <td>{% if rent.book.image %}<img src="{{ rent.book.image.url}}" />{% else %}<img src="default.image.jpg" />{% endif %}</td>
      <td>{{ rent.book.title }}</td>
      <td>{{ rent.added_at|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>{{ rend.added_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td colspan=4>No result</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}
