{% extends "bookshare/mypage_base.html" %}

{% block title %}마이페이지{% endblock %}

{% block inner-content %}
<div class="signup-screen">
  <div class="small-title" style="margin: 2px 0 20px; font: bold 23px/40px 'Helvetica Neue', 'Helvetica, Arial', 'sans-serif';">개인정보</div>
  <div class="signup-form">

      <div class="form-group">
	<p class="form-control signup-field">
	{{ user.name }}
	</p>
      </div>


      <div class="form-group">
	<p class="form-control signup-field">
	{{ user.user_id }}
	</p>
      </div>
      
      
      <div class="form-group">
	<p class="form-control signup-field">
	{{ user.sex }}
	</p>
      </div>
            
      <div class="form-group">
	<p class="form-control signup-field">
	{{ user.email }}
	</p>
      </div>

      {{error_msg}}
      {% csrf_token %}
  </div>
</div>
{% endblock %}
