{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}

<div class="signin-screen">
  <div class="signin-form">
    <form action="{% url 'signin' %}" method="post">
      <div class="form-group">
	<input type="text" class="form-control signin-field" value="" placeholder="학번" id="signin-name" name="user_id">
	<label class="input-field-icon fui-user" for="username"></label>
      </div>
      <div class="form-group">
	<input type="password" class="form-control signin-field" value="" placeholder="비밀번호" id="signin-password" name="password">
	<label class="input-field-icon fui-lock" for="password"></label>
      </div>
	  <p class="signin-error-msg">{{error_msg}}</p>
    <button class="btn btn-primary btn-lg btn-block signin-button">로그인</button>
    <p class="text-center">회원가입을 하려면 학술정보관 책두레 담당부서를 방문해주십시오.</p>
    {% csrf_token %}
    <input type="hidden" value="{{ next }}" name="next" />
    </form>
  </div>
</div>

{% endblock%}
