@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


/* common */
.cursor {
    cursor:pointer;
}

label input[type="submit"] {
    display: none;
}

section.feature {
    margin-bottom: 2em;
}

html, body {
    height:100%;
    font-family: 'Nanum Gothic';﻿
}

footer {
    height:60px;
}


p {
    font-family: 'Nanum Myeongjo';﻿
}

.horizontal-radio{
    display: inline-block;
    margin-right: 20px;
}




/* navigation bar */
#navbar-wrapper {
    width:960px;
    margin-left:auto;
    margin-right:auto;
}

.navbar {
    border-radius:0px;
}

.navbar-inverse .navbar-form .form-group .input-group .form-control {
    color:#FFFFFF;
    border-color:#FFFFFF;
    border-width:1px;
    background-color:#34495e;
}

.navbar-inverse .navbar-form .input-group-btn .btn {
    border-color:#FFFFFF;
    border-width:1px;
    border-left-width:0px;
    background-color:#34495e;
    color:#FFFFFF;
}

.navbar-inverse .navbar-form .form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:#DDDDDD;
}
.navbar-inverse .navbar-form .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#FFFFFF;
    opacity:  1;
}
.navbar-inverse .navbar-form .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#FFFFFF;
    opacity:  1;
}
.navbar-inverse .navbar-form .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#FFFFFF;
}

/* contents */
#content-wrapper{
    min-width: 400px;
    width: 960px;
    margin-left:auto;
    margin-right:auto;
    min-height:calc(100% - 83px);
    padding-bottom:30px;
    margin-bottom:-60px;
}
#content-wrapper:after{
    content:"";
    display:block;
    height:60px;
}




/* main page */
.mini-slogan {
    font-size:20px;
    margin:0px;
}
.main-slogan {
    font-size:53px;
    margin-top:0px;
}


/* signin */
.signin-screen{
    background-color: #edeff1;
    max-width: 500px;
    padding: 20px;
    margin: auto;
    border-radius: 6px;
}

.signin-form{
    max-width: 400px;
    margin: auto;
}

.input-field-icon{
    position: absolute;
    right: 15px;
    top: 3px;
}

.signin-button{
    margin-bottom: 10px;
}

.signin-link{
    text-align: center;
}

.signin-link > button
{
    margin-bottom: 4px;
}

/* signup */
.signup-screen{
    background-color: #edeff1;
    max-width: 600px;
    padding: 20px;
    margin: auto;
    border-radius: 6px;
}

.book-detail h2 {
    margin-top: 0;
}

.book-detail img.cover {
    float: left;
    margin-right: 15px;
}

.book-detail .courses li {
    list-style: none;
}

.book-detail img {
	width:300px;
	height:400px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    color:#777777;
}

/* book_search */
.link-set {
    margin-top:30px;
    margin-bottom:15px;
}

#search-list img {
	width:180px;
	height:260px;
}


/* table */
.table {
    margin-bottom:0;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding:9px;
    text-align:center;
}

.table > tbody > tr > td.table-head {
    width:25%;
}
.table > tbody > tr > td.table-head,
.table > tbody > tr > td.table-head + td {
    padding:9px 20px;
    text-align:left;
}



.small-title {
    font-size:30px;
    margin-top:0px;
    margin-bottom:20px;
}

/* my page */
.mypage-table img{
	width:180px;
	height:260px;
}

/* mypage modify */
.error-msg-p{
	text-align: right;
	color: red;
	font-size: 12px;
}
.book-cover {
    width: 180px;
    height: 260px;
}
.signin-error-msg{
	font-size: 14px;
color: red;
text-align: center;
}