@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


/* common */
.cursor {
    cursor:pointer;
}

label input[type="submit"] {
    display: none;
}

section.feature {
    margin-bottom: 2em;
}

html, body {
    height:100%;
    font-family: 'Nanum Gothic';﻿
}

footer {
    height:60px;
}


p {
    font-family: 'Nanum Myeongjo';﻿
}

.horizontal-radio{
    display: inline-block;
    margin-right: 20px;
}




/* navigation bar */
#navbar-wrapper {
    width:960px;
    margin-left:auto;
    margin-right:auto;
}
.navbar {
    border-radius:0px;
}

/* contents */
#content-wrapper{
    min-width: 400px;
    width: 960px;
    margin-left:auto;
    margin-right:auto;
    min-height:calc(100% - 83px);
    margin-bottom:-60px;
}
#content-wrapper:after{
    content:"";
    display:block;
    height:60px;
}




/* main page */
.mini-slogan {
    font-size:20px;
    margin:0px;
}
.main-slogan {
    font-size:53px;
    margin-top:0;
}


/* signin */
.signin-screen{
    background-color: #edeff1;
    max-width: 500px;
    padding: 20px;
    margin: auto;
    border-radius: 6px;
}

.signin-form{
    max-width: 400px;
    margin: auto;
}

.input-field-icon{
    position: absolute;
    right: 15px;
    top: 3px;
}

.signin-button{
    margin-bottom: 10px;
}

.signin-link{
    text-align: center;
}

.signin-link > button
{
    margin-bottom: 4px;
}

/* signup */
.signup-screen{
    background-color: #edeff1;
    max-width: 500px;
    padding: 20px;
    margin: auto;
    border-radius: 6px;
}

.book-detail h2 {
    margin-top: 0;
}

.book-detail img.cover {
    float: left;
    margin-right: 15px;
}

.book-detail .courses li {
    list-style: none;
}

/* book_search */
.link-set {
    margin-top:30px;
    margin-bottom:15px;
}




/* table padding */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 9px 9px;
  text-align:center;
}
