{% extends "base.html" %}

{% block script %}
<script type="text/javascript" src="/static/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/static/js/masonry.pkgd.min.js"></script>
{% endblock %}

{% block onload_script %}
// add click event for each 
var book_list_item = $(".book-list-item");

if(book_list_item)
{
    var column_width = book_list_item.outerWidth(true);
    var container = $("#book-list");
    
    imagesLoaded( container, function() {
	msnry = new Masonry( container[0], 
			     { 	
				 columnWidth: column_width,
				 itemSelector: '.book-list-item'
			     } 
			   );
    });
    $(window).resize(function () {
	container.masonry('bindResize');
    });
}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h3>검색 결과</h3>
    <div id="book-list" class="masonry js-masonry">
      {% for book in object_list %}
        {% include 'book_list_fragment.html' %}
      {% endfor %}
    </div>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">이전</a>
                {% endif %}
                <span class="page-current">
                    {{ page_obj.paginator.num_pages }} 페이지 중 {{ page_obj.number }} 번째.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">다음</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  </div>
</div>
{% endblock %}
