{% extends "base.html" %}

{% block content %}
<div class="book-detail">
  <div class="row">
    <div class="col-md-12">
      {% if object.image.url %}<img src="{{ object.image.url }}" class="cover"/>{% else %}<img src="http://placehold.it/300x400" class="cover"/>{% endif %}
      <h2>{{ object.title }}</h2>
      {% if object.any_availiable_stock %}
    	<p>재고가 {{ object.num_available_stocks }}개 있습니다! 학술정보관에서 책을 교환하세요.</p>
      {% else %}
      <p>재고가 없습니다. 나중에 다시 이용해주세요.</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="col-md-class">이 책을 사용하는 수업들</h3>
      <div class="courses">
	<ul>
	  {% if object.courses.all %}
	  {% for course in object.courses.all %}
	  <li>{{ course.title }}</li>
	  {% endfor %}
	</ul>
	{% else %}
	<p>no course</p>
	{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
