{% extends "base.html" %}

{% block script %}
<script type="text/javascript" src="/static/js/masonry.pkgd.min.js"></script>
{% endblock %}

{% block onload_script %}
// add click event for each 
var book_list_item = $(".book-list-item");

book_list_item.click(function(){
    var pk = $(this).attr('id');
    location.href="/books/" + pk +"/";
});

if(book_list_item)
{
    var column_width = book_list_item.width();
    
    var container = $("#book-list");

    imagesLoaded( container, function() {
	msnry = new Masonry( container, 
			     { 	
				 columnWidth: 240,
				 itemSelector: '.book-list-item'
			     } 
			   );
    });

);
}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h3>검색 결과</h3>
    <div id="book-list" class="masonry js-masonry">
      {% for book in object_list %}
      <div id="{{ book.pk }}" class="book-list-item cursor">
	<div class="image-wrapper">
	  <img class="image {% if not book.any_availiable_stock %}out-of-stock{% endif %}" src="{% if book.image %}{{ book.image.url}}{% else %}src-to-default{% endif %}" />
	</div>
	<div class="title-wrapper">
	  <p>{{ book.title }}</p>
	</div>
	<div class="course-wrapper">
	  {% for course in book.courses.all %}
	  <span class="label label-default">{{ course.title }} - {{ course.year }} {{ course.semester }}</span>
	  {% endfor %}
	</div>
	<div class="status-wrapper">
	  {% if book.any_availiable_stock %}
	  <span class="label label-success">대출 가능</span>
	  {% else %}
	  <span class="label label-danger">재고 없음</span>
	  {% endif %}
	</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
