{% extends "base.html" %}

{% block content %}
<div class="rent-request">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h2 class="text-center">대여 요청이 완료되었습니다.</h2>
            <h3 class="text-center">도서관을 방문하여 책을 받으시기 바랍니다.</h3>
            <div class="row">
                <div class="col-md-12 text-center link-set">
                    <a href="{% url 'books:search' %}" class="btn btn-sm btn-inverse">다른 책 찾기</a>
                    <a href="{% url 'rent-requests'%}" class="btn btn-sm btn-primary">대여신청 현황 보기</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
{% endblock %}
